* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #f6f6f9;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  background: white;
  border-bottom: 1px solid #eee;
}

.account-btn {
  border: 1px solid #ddd;
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}

.account-btn:hover {
  color: #674cc4;
  border-color: #674cc4;
}

.container {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

.card {
  width: 100%;
  max-width: 640px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  display: none;
}

.card.active {
  display: block;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

p {
  text-align: center;
  color: #666;
  margin-bottom: 25px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.primary-btn {
  width: 100%;
  padding: 14px;
  background: #674cc4;
  color: white;
  border: none;
  border-radius: 10px;
}

.primary-btn:disabled {
  background: #ccc;
}

.back-btn {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* DROPDOWN */
.dropdown {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
  position: relative;
}

.dropdown-selected {
  padding: 12px;
  cursor: pointer;
}

.dropdown-list {
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow: auto;
  z-index: 10;
}

.item {
  padding: 10px;
  cursor: pointer;
}

.item:hover {
  background: #f3f0ff;
}

/* RADIO */
.radio {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.radio input { display: none; }

.radio span {
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.radio input:checked + span {
  border-color: #674cc4;
  background: #674cc4;
}

/* DECLARATION */
.notice-box {
  background: #f1f1f4;
  padding: 15px;
  border-radius: 10px;
  font-size: 13px;
}
